html {
  scroll-behavior: smooth;
}

h1 {
  padding-top: 70px;
}

h3 {
  padding-top: 70px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-weight: italic;
}

.profile-photo {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: red;
}
