html {
  scroll-behavior: smooth;
}

h2 {
  color: rgb(96, 96, 96);
}

h3 {
  padding-top: 70px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-weight: italic;
}

.profile-photo {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: red;
}

.navbar-fixed-top {
  top: -70px;
  opacity: 0;
}
